<div class="form-container">
  <div class="form-container__title">
    Add book - New book
  </div>

  <div class="form-container__stepper">
    <div class="form-container__stepper__step"
         *ngFor="let step of steps"
    >
      <div class="form-container__stepper__step__number">
        {{ step.step ? step.step : '...' }}
      </div>
      <div class="form-container__stepper__step__label">
        {{ step.label }}
      </div>
    </div>
  </div>

  <form formGroup="bookForm">
  </form>

  <div class="form-container__actions"></div>
</div>
