<div class="form-container">
  <div class="form-container__title">
    Add book - New book
  </div>

  <div class="form-container__stepper">
    <div class="form-container__stepper__step"
         *ngFor="let step of steps"
    >
      <div class="form-container__stepper__step__number">
        {{ step.step ? step.step : '...' }}
      </div>
      <div class="form-container__stepper__step__label">
        {{ step.label }}
      </div>
    </div>
  </div>

  <div class="form-container__form">
    <button type="button"
            class="form-container__form__button"
            *ngFor="let genre of genres"
    >
      {{ genre.name }}
    </button>
  </div>

  <form formGroup="bookForm" *ngIf="toShowBookForm()">
  </form>

  <div class="form-container__actions"></div>
</div>
