<div class="form-container">
  <div class="form-container__title">
    Add book - New book
  </div>

  <div class="form-container__stepper">
    <div class="form-container__stepper__step"
         *ngFor="let step of steps"
    >
      <div class="form-container__stepper__step__number"
           [class.active]="step.step === currentStep"
      >
        {{ step.step ? step.step : '...' }}
      </div>
      <div class="form-container__stepper__step__label">
        {{ step.label }}
      </div>
    </div>
  </div>

  <div class="form-container__form" *ngIf="currentStep === 1">
    <button type="button"
            class="form-container__form__button"
            [class.active]="genre.id === selectedGenre?.id"
            *ngFor="let genre of genres"
            (click)="selectGenre(genre)"
    >
      {{ genre.name }}
    </button>
  </div>

  <form formGroup="bookForm" *ngIf="toShowBookForm()">
  </form>

  <div class="form-container__actions">
    <button class="form-container__actions__button">
      < &nbsp; Back
    </button>
    <button class="form-container__actions__button active">
      Next
    </button>
  </div>
</div>
